@use '../_01_basics/_settings' as *;
@use '../_01_basics/_tools' as *;
@use '../_01_basics/_elements' as *;



//---------------------------//
//-------MEDIA QUERIES-------//
//---------------------------//


@media (min-width: $breakpoint-xxs) { //375
  footer {

    background-color: $hex-black;
    margin-top: calc($space-xxxl*2);

    .container-content{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .container-icon {
        img {
          padding: $space-xs;
          max-width: 38px;
          min-width: 38px;
        }
      }
    }


  }
}
@media (min-width: $breakpoint-xs) { //600
  footer {

  }
}
@media (min-width: $breakpoint-sm) { //768
  footer {
  }
}
@media (min-width: $breakpoint-md) { //992x
  footer {

  }
}
@media (min-width: $breakpoint-lg) { // 1280px
  footer {

  }
}
@media (min-width: $breakpoint-xl) { // 1440px
  footer {

  }
}
@media (min-width: $breakpoint-xxl) { // 1920px

  footer {

  }
}
