include _mixins.pug

-
  let contentHobbies = {
    1: {
      name: 'Alpinismo',
      img: 'https://picsum.photos/200/300',
      abstract: '',
      btn: '',
      classname: ''
      },
    2: {
      name: 'Escalada', 
      img:'https://picsum.photos/200/300',
      abstract: '',
      btn: '',
      classname: ''
      },
    3: {
      name: 'Cross Training',
      img:'https://picsum.photos/200/300',
      abstract: '',
      btn: '',
      classname: ''
      },
    4: {
      name: 'Motociclismo',
      img:'https://picsum.photos/200/300',
      abstract: '',
      btn: '',
      classname: ''
      },
    5: {
      name: 'Rock&Roll',
      img:'https://picsum.photos/200/300',
      abstract: '',
      btn: '',
      classname: ''
      },
  }

+card01(contentHobbies, 'hobbies')
