include _mixins.pug

-
  let contentProjects = {
    1: {
      name: 'Diseño web', 
      img:'https://picsum.photos/200/300', 
      abstract:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      btn:'Saber más',
      classname:''
      },
    2: {
      name: 'Diseño UI', 
      img:'https://picsum.photos/200/300', 
      abstract:'', 
      btn:'Saber más', 
      classname:''
      },
    3: {
      name: 'Diseño para RRSS',
      img:'https://picsum.photos/200/300',
      abstract:'',
      btn:'Saber más',
      classname:''
      },
    4: {
      name: 'Animación',
      img:'https://picsum.photos/200/300',
      abstract:'',
      btn:'Saber más',
      classname:''
      },
    5: {
      name: 'Diseño web',
      img:'https://picsum.photos/200/300',
      abstract:'', btn:'Saber más',
      classname:''
      },
    6: {
      name: 'Diseño web',
      img:'https://picsum.photos/200/300',
      abstract:'',
      btn:'Saber más',
      classname:''
    }
  }

+card01(contentProjects, 'projects')
