- 
  let skills = {
    1: {
      name:'HTML',
      img:'assets/grafic_html.svg',
      abstract:'',
      btn:'',
      classname:''
      },
    2: {
      name:'CSS',
      img:'assets/grafic_css.svg',
      abstract:'',
      btn:'',
      classname:''
      },
    3: {
      name:'JS',
      img:'assets/grafic_js.svg',
      abstract:'',
      btn:'',
      classname:''
    }
  }

+card01(skills, 'skills')
