extends ./layouts/_default.pug

block header
  header
    include components/_nav.pug
    //- img(src='https://media-exp1.licdn.com/dms/image/C4E03AQG5bgIGHo3iBA/profile-displayphoto-shrink_200_200/0/1652727847548?e=1659571200&v=beta&t=fplUEVYKIS8aMkf2B4TPBkDU9f_6qqzW8s0ElAouq3s')

block main
  main
    article
      section
        include ./components/_form.pug
