extend ./layouts/_default.pug
  
block title-h1
  h1 Curriculum Vitae
  
block main
  include ./components/_cv_content.pug
  main#main-container.main-container.main-container-cv
    aside
      section#index.index
        h3 Índice
        - let indexItems = ['Datos personales', 'Experiencia', 'Estudios'];
        div#container-index-itmes.container-index-items
          ul
            each item, index in indexItems
              li(id='index-item-'+index class='index-item')
                - let anchor = item.replace(/ /g, "").toLowerCase()
                a(href='#'+anchor id='link-index-item-'+index class='link-index-item')= item
                
      section#datospersonales.datos-personales
        h3 Datos personales
        div#aside-container-contacto.aside-container.aside-container-contacto
          h4 Contacto
          h6 Miguel Ángel Narváez
          div
            img(src='./assets/email.png')
            a(href='mailto: mnarvaezgo@uoc.edu' target='_blank') mnarvaezgo@uoc.edu
          div
            img(src='./assets/github.png')
            a(href='https://github.com/miguelangelnarvaezgo' target='_blank') github.com/miguelangelnarvaezgo
        
        div#aside-container-bio.aside-container.aside-container-bio
          h4 Biografia
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
        div#aside-container-idiomas.aside-container.aside-container-idiomas
          h4 Idiomas
          table
            thead
              tr 
                td
                  p Castellano
                td
                  p Nativo
              tr 
                td
                  p Catalán
                td
                  p Alto
              tr 
                td
                  p Inglés
                td
                  p Báscio    
    article
      section#experiencia.experiencia
        h3 Experiencia profesional
        +experiencia('experiencia-row')
      section#estudios.estudios
        h3 Estudios
        +estudios('estudios-row')
