extends ./layouts/_default.pug

block header
  include components/_nav.pug
  //- img(src='https://media-exp1.licdn.com/dms/image/C4E03AQG5bgIGHo3iBA/profile-displayphoto-shrink_200_200/0/1652727847548?e=1659571200&v=beta&t=fplUEVYKIS8aMkf2B4TPBkDU9f_6qqzW8s0ElAouq3s')
  div#header-container.header-container
    h1 Portfolio de Miguel A. Narváez

block main
  section#sobremi-container.sobremi-container.home-section
    div#sobremi-col-01.sobremi-container-col-01.sobremi-container
      h2 Un poco sobre mí
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div#sobremi-col-02.sobremi-container-col-02.sobremi-container
      img(src='https://picsum.photos/seed/picsum/200/300' alt='Mount Cervino' id='sobremi-img' class='sobremi-img')
  
  section#proyectos-container.proyectos-container.home-section
    div#proyects-col-01.proyects-container-col-01.proyects-container
      h2 Mis proyectos
    div#proyects-col-02.proyects-container-col-02.proyects-container
      include ./components/_projects.pug
  
  section#skills-container.skills-container.home-section
    div#skills-col-01.skills-container-col-01.skills-container
      h2 Mis habilidades
    div#skills-col-02.skills-container-col-02.skills-container
      include ./components/_skills.pug
  
  section#hobbies-container.hobbies-container.home-section
    div#hobbies-col-01.hobbies-container-col-01.hobbies-container
      h2 Mis aficiones
    div#hobbies-col-02.hobbies-container-col-02.hobbies-container  
      include ./components/_hobbies.pug
