extends ./layouts/_default.pug

block title-h1
  h1 Porfolio de Miguel A. Narváez

block main
  main
    section#sobremi-container.sobremi-container.home-section
      h2 Un poco sobre mí
      div#content-container.content-container
        div#sobremi-col-01.sobremi-container-col-01.sobremi-container  
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div#sobremi-col-02.sobremi-container-col-02.sobremi-container
          img(src='https://picsum.photos/seed/picsum/500/500' alt='Mount Cervino' id='sobremi-img' class='sobremi-img')
    include ./components/_home_content.pug
    section#proyectos-container.proyectos-container.home-section
      div#proyects-col-01.proyects-container-col-01.proyects-container
        h2 Mis proyectos
      div#proyects-col-02.proyects-container-col-02.proyects-container
        +projects
    section#skills-container.skills-container.home-section
      div#skills-col-01.skills-container-col-01.skills-container
        h2 Mis habilidades
      div#skills-col-02.skills-container-col-02.skills-container
        +skills
    
    section#hobbies-container.hobbies-container.home-section
      div#hobbies-col-01.hobbies-container-col-01.hobbies-container
        h2 Mis aficiones
      div#hobbies-col-02.hobbies-container-col-02.hobbies-container  
        +hobbies
